
<div class="row">
	<div class="col-md-2"></div>
<div class="col-md-8">
<form class="form-inline"  ng-submit='CreateEdge(edge)'>
  
<div class="form-group">
    <label >Source</label>
      <input class="form-control" ng-model="edge.src" placeholder="Source" required="" autofocus="">
 </div>

 <div class="form-group">
    <label >Target</label>
      <input class="form-control" ng-model="edge.dst" placeholder="Target" required="">
 </div>

  <button type="submit" class="btn btn-primary">Create Edge</button>

</form>

</div>
<div class="col-md-2"></div>
</div>