
<nav class="navbar navbar-findcond navbar-fixed-top" ng-controller='navBarCtrl'>
    <div class="container">
        <div class="navbar-header" style="padding-left:10px">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Weaver Visualisation</a>
        </div>  
        </div>
    </div>
</nav>

<div class="container">
  <!-- Row start -->
  <div class="row" ng-init='onConfig()'>
    <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Configuration</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal row-border" ng-submit='setConfig(configSettings)'>
<!-- graphEndPoint:'http://52.25.65.189:6363/graph/getNode/',
  logInEndPoint:'http://127.0.0.1:5000/api/', -->
            <div class="form-group">
             <!--  <label class="col-md-2 control-label">Graph API EndPoint</label>
              <div class="col-md-10">
                <input class="form-control" type="text" name="placeholder" placeholder="Graph API EndPoint" ng-model="config.graphEndPoint">
                <span class="help-block">Weaver graph end point</span>
              </div>
 -->
              <div ng-repeat="(key, value) in configSettings" >
                <div ng-if="!checkDict(value)">

              <label class="col-md-2 control-label">{{key}}</label>
              <div class="col-md-10">
                <input class="form-control" type="text" name="placeholder" ng-model='configSettings[key]' >
                <span class="help-block"></span>
              </div>

                </div>

              <div ng-if="checkDict(value)">

                  <div ng-if="!checkSpecialConfig(key)">

                    <label class="col-md-2 control-label">{{key}}</label>
              <div class="col-md-10">
                <div ng-repeat="(key1, value1) in configSettings[key]" >
                 
                  <label class="col-md-2 control-label">{{key1}}</label>
                  <div class="col-md-10">
                <input class="form-control" type="text" name="placeholder" ng-model='configSettings[key][key1]' >
                <span class="help-block"></span>


                  </div>



              


             <!--  <div ng-if="!checkSpecialConfig(key1)">
                  <label class="col-md-2 control-label">{{key1}}</label>
                  <div class="col-md-10">
                <input class="form-control" type="text" name="placeholder" ng-model='configSettings[key][key1]' >
                <span class="help-block"></span>
              </div>


              <div ng-if="checkSpecialConfig(key1)">
                  <label class="col-md-2 control-label">{{key1}}</label>
                  <div class="col-md-10">
                <input class="form-control" type="text" name="placeholder" ng-model='configSettings[key][key1]' >
                <span class="help-block"></span>
              </div> -->


              </div>
              </div>


                </div>

            



              </div>
              <!-- <li ng-repeat="(key, value) in configSettings">{{key}},{{value}}</li> -->


            </div>
            <button class="btn btn-primary pull-right" type="submit">Submit Configuration</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>