<div class="modal fade" id="myModalNode" tabindex="-1" role="dialog" aria-labelledby="myModalNodeLabel" aria-hidden="true" style="z-index:999999">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalNodeLabel">Node Add Interface</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="addKeyValNode(keyValPairHandle)">
        <input ng-model="keyValPairHandle" required></input>
        <button type="submit" class="btn btn-default" >Add Key Value Pair</button>
        </form>
        <form id="modalFormNode" ng-submit="SaveProperties()">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="styleNodeEdge" tabindex="-1" role="dialog" aria-labelledby="styleNodeLabel" aria-hidden="true" style="z-index:999999">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="styleNodeLabel">Highlight Nodes/Edges</h4>
      </div>
      <div class="modal-body">
       
  <form id="modalStyleNode">
  <div class="form-group">


Select Color:
<input type='text' id="full"/>

<script src="scripts/colorpallet.js"></script>
  </div>
 </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="styleNodeEdge()">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div ng-controller="ExampleController">
  <div class="slide-animate-container">
    <div class="slide-animate" ng-include="template.url"></div>
  </div>
</div>









<link rel="stylesheet" href="styles/alchemy.css">

<div class="container" ng-init="initialise()">
    <div class="row row-no-padding">
        <div class="col-md-12" style="background-color:white">
            <div class="row row-no-padding">
                <div class="col-xs-11">
                    <div id="graphcontain">












                      <!-- <textarea name="weaver" id="weaver" rows="4" cols="120" data-lang="cypher" class="code form-control">search:phone,direction:U,limit:10
                       </textarea> -->
  <!-- <button ng-click="queryGraph()">Exec</button> -->
  <!-- <i class="fa fa-play-circle-o"></i> -->
                    </div>
                </div>
                <div class="col-xs-1 nopadding" >

    
                </div>
            </div>
            <div class="panel panel-primary">

                <div class="panel-heading" >
                    <button class="btn btn-success" type="button">
                      NodeType
                    </button>
                    <div class="btn-group" id="nodeBadgeLoc">
                        
                    </div>
                <br>
                <button class="btn btn-success" type="button">
                      Edge Type
                    </button>
                    <div class="btn-group" id="edgeBadgeLoc">
                        
                    </div>
                </div>
                <div class="panel-body col-md-12 nopadding">
                    <div class="alchemy" id="graph"></div>
                </div>
               <!--  <div class="panel-footer ">

                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalNode" id="nodeModalButton">Add Node</button>

                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalEdge" id="edgeModalButton">Add Edge</button>

                    <span class='pull-right'><a href="http://weaver.systems/">Powered By Weaver</a></span>
                </div> -->
            </div>
        </div>
    </div>
</div>
<script src="scripts/d3/d3.js"></script>
<script src="scripts/lodash/distA/lodash.compat.js"></script>
<script src="scripts/alchemyN.js"></script>
